<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ActivityMapper">
    <!--查询活动-->
    <select id="queryActivity" resultType="com.project.vo.activity.QueryActivityVO">
        select id,
        user_id,
        activity_name,
        activity_description,
        activity_max_people,
        activity_photo,
        create_time
        from activity
        where is_delete = 0
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="keyword != null">
            and (
            activity_name like concat('%', #{keyword}, '%')
            or activity_description like concat('%', #{keyword}, '%')
            )
        </if>
        order by create_time desc
    </select>

    <!--根据id查询活动-->
    <select id="queryActivityById" parameterType="Long" resultType="com.project.vo.activity.QueryOneActivityVO">
        select u.user_avatar,
               a.user_id,
               a.id,
               a.activity_photo,
               a.activity_name,
               a.activity_max_people,
               a.create_time
        from user u
                 join activity a on u.id = a.user_id
        where u.is_delete = 0
          and a.is_delete = 0
          and a.id = #{activityId}
    </select>

    <!--查询群聊名称和群聊人数-->
    <select id="queryNameAndCount" parameterType="Long" resultType="com.project.vo.activityRelation.ActivityRelationVO">
        select a1.id,
               a1.activity_name,
               count(a2.id) as personCount
        from activity a1 join activity_relation a2 on a1.id = a2.activity_id
        where a1.is_delete = 0
          and a2.is_delete = 0
          and a1.id = #{activityId}
        group by a1.id, a1.activity_name
    </select>

    <!--查询所参见的活动-->
    <select id="queryJoinedActivity" parameterType="Long" resultType="com.project.vo.activity.QueryActivityVO">
        select id,
               user_id,
               activity_name,
               activity_description,
               activity_max_people,
               activity_photo,
               create_time
        from activity
        where is_delete = 0
          and id in (select activity_id
                     from activity_relation
                     where is_delete = 0
                       and user_id = #{userId})
        order by create_time desc
    </select>

    <!--分页查询群聊-->
    <select id="queryGroupChatByPage" resultType="com.project.vo.activity.QueryActivityVO">
        select id,
               user_id,
               activity_name,
               activity_description,
               activity_max_people,
               activity_photo,
               create_time
        from activity
        where is_delete = 0
        order by create_time desc
    </select>

    <!--按时间分页查询群聊-->
    <select id="queryActivityByTime" resultType="com.project.vo.activity.QueryActivityVO">
        select id,
               user_id,
               activity_name,
               activity_description,
               activity_max_people,
               activity_photo,
               create_time
        from activity
        where is_delete = 0
            and year (
            create_time) = year (#{time})
          and month (create_time) = month (#{time})
          and day (create_time) = day (#{time})
        order by create_time desc
    </select>
</mapper>
