<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.AdminMapper">
    <!--分页查询普通用户-->
    <select id="queryUser" resultType="com.project.vo.user.UserVO">
        select id,
               user_name,
               user_phone,
               user_avatar,
               user_gender,
               user_birthday,
               user_profile,
               user_location,
               user_hometown,
               user_profession,
               user_tags,
               create_time,
               user_role
        from user
        where user_role = 'user'
          and is_delete = 0
    </select>

    <!--用户名或手机号模糊查询用户-->
    <select id="queryLikeUser" resultType="com.project.vo.user.UserVO">
        select id,
               user_name,
               user_phone,
               user_password,
               user_avatar,
               user_gender,
               user_birthday,
               user_profile,
               user_location,
               user_hometown,
               user_profession,
               user_tags,
               create_time,
               user_role
        from user
        where is_delete = 0
          and user_role = 'user'
          and (user_name like CONCAT('%', #{keyword}, '%') or user_phone like CONCAT('%', #{keyword}, '%'))
    </select>

    <!--删除单个用户-->
    <update id="deleteUser">
        update user set is_delete = 1 where is_delete = 0 and id = #{userId}
    </update>

    <!--批量删除用户-->
    <update id="deleteUserBatch">
        update user
        set is_delete = 1
        where id in
        <foreach collection="userIdList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--查询用户权限-->
    <select id="getUserRole" resultType="String">
        select user_role
        from user
        where is_delete = 0
        and id = #{userId}
    </select>

    <!--设置成管理员-->
    <update id="settingAdmin">
        update user set user_role = 'admin' where is_delete = 0 and id = #{userId}
    </update>

    <!--分页查询管理员-->
    <select id="queryAdmin" resultType="com.project.vo.user.UserVO">
        select id,
               user_name,
               user_phone,
               user_avatar,
               user_gender,
               user_birthday,
               user_profile,
               user_location,
               user_hometown,
               user_profession,
               user_tags,
               create_time,
               user_role
        from user
        where user_role = 'admin'
          and is_delete = 0
    </select>

    <!--用户名或手机号模糊查询用户-->
    <select id="queryLikeAdmin" resultType="com.project.vo.user.UserVO">
        select id,
               user_name,
               user_phone,
               user_password,
               user_avatar,
               user_gender,
               user_birthday,
               user_profile,
               user_location,
               user_hometown,
               user_profession,
               user_tags,
               create_time,
               user_role
        from user
        where is_delete = 0
          and user_role = 'admin'
          and (user_name like CONCAT('%', #{keyword}, '%') or user_phone like CONCAT('%', #{keyword}, '%'))
    </select>

    <!--设置成普通用户-->
    <update id="settingUser">
        update user set user_role = 'user' where is_delete = 0 and id = #{userId}
    </update>
</mapper>
