<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.GoodsMapper">
    <!--查询个人商品-->
    <select id="queryGoods" parameterType="Long" resultType="com.project.vo.goods.QueryGoodsVO">
        SELECT
        u.user_name,
        u.user_avatar,
        g.id,
        g.user_id,
        g.goods_title,
        g.goods_content,
        g.goods_photos,
        g.goods_old_price,
        g.goods_price,
        g.create_time
        FROM goods g
        JOIN user u ON g.user_id = u.id
        WHERE g.is_delete = 0
        AND u.is_delete = 0
        <if test="userId != null">
            AND g.user_id = #{userId}
        </if>
        ORDER BY g.create_time DESC
    </select>
</mapper>
