<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.GoodsMapper">
    <!--查询物品-->
    <select id="queryGoods" parameterType="Long" resultType="com.project.vo.goods.QueryGoodsVO">
        SELECT
        u.user_name,
        u.user_avatar,
        g.id,
        g.user_id,
        g.goods_title,
        g.goods_content,
        g.goods_photos,
        g.goods_old_price,
        g.goods_price,
        g.create_time
        FROM goods g
        JOIN user u ON g.user_id = u.id
        WHERE g.is_delete = 0
        AND u.is_delete = 0
        <if test="userId != null">
            AND g.user_id = #{userId}
        </if>
        ORDER BY g.create_time DESC
    </select>

    <!--关键字查询物品-->
    <select id="queryGoodsByKeyword" parameterType="String" resultType="com.project.vo.goods.QueryGoodsVO">
        select u.user_name,
               u.user_avatar,
               g.id,
               g.user_id,
               g.goods_title,
               g.goods_content,
               g.goods_photos,
               g.goods_old_price,
               g.goods_price,
               g.create_time
        from user u
                 join goods g
                      on u.id = g.user_id
        where u.is_delete = 0
          and g.is_delete = 0
          and (g.goods_content like concat('%', #{keyword}, '%') or g.goods_title like concat('%', #{keyword}, '%'))
        order by g.create_time
                desc
    </select>

    <!--分页查询物品-->
    <select id="queryGoodsByPage" parameterType="Long" resultType="com.project.vo.goods.QueryGoodsVO">
        SELECT
        u.user_name,
        u.user_avatar,
        g.id,
        g.user_id,
        g.goods_title,
        g.goods_content,
        g.goods_photos,
        g.goods_old_price,
        g.goods_price,
        g.create_time
        FROM goods g
        JOIN user u ON g.user_id = u.id
        WHERE g.is_delete = 0
        AND u.is_delete = 0
        ORDER BY g.create_time DESC
    </select>
</mapper>
