<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.MessageMapper">
    <!--查询聊天记录-->
    <select id="queryMessage" resultType="com.project.vo.message.QueryMessageVO">
        select u.user_avatar,
               m.id,
               m.send_user_id,
               m.message_content,
               m.message_type,
               m.create_time
        from user u
                 join message m on u.id = m.send_user_id
        where u.is_delete = 0
          and m.is_delete = 0
          and ((m.send_user_id = #{myId} and m.accept_user_id = #{userId}) or
               (m.accept_user_id = #{myId} and m.send_user_id = #{userId}))
    </select>
    <!--查询最新一条消息-->
    <select id="queryNoReadMessage" resultType="com.project.vo.message.QueryNoReadMessageVO">
        select u.user_avatar,
               u.user_name,
               m.send_user_id,
               m.accept_user_id,
               m.id,
               m.message_content,
               m.message_type,
               m.create_time
        from user u
                 join message m on u.id =
                                   CASE
                                       WHEN m.send_user_id = #{userId} THEN m.accept_user_id
                                       ELSE m.send_user_id
                                       END
        where u.is_delete = 0
          and m.is_delete = 0
          and ((m.accept_user_id = #{userId} and m.send_user_id = #{id}) or
               (m.accept_user_id = #{id} and m.send_user_id = #{userId}))
        order by m.create_time desc limit 1
    </select>
</mapper>
