<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.AdminMapper">
    <!--查询管理员用户-->
    <select id="queryUser" resultType="com.project.vo.user.UserVO">
        select id,
               user_name,
               user_phone,
               user_password,
               user_avatar,
               user_gender,
               user_birthday,
               user_profile,
               user_location,
               user_hometown,
               user_profession,
               user_tags,
               create_time,
               user_role
        from user
        where user_phone = #{userPhone}
        and is_delete = 0
    </select>
</mapper>
