<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.UserMapper">
    <!--用户名模糊查询用户-->
    <select id="queryUser" resultType="com.project.vo.user.QueryUserVO">
        select id,
               user_name,
               user_avatar,
               user_profile
        from user
        where is_delete = 0
          and id != #{userId}
          and user_name like concat('%', #{keyword}, '%')
    </select>
    <!--头像地址保存至avatar表-->
    <insert id="saveAvatar">
        INSERT INTO avatar (user_id, avatar)
        VALUES (#{userId}, #{avatar})
    </insert>
    <!--查询关注用户id-->
    <select id="queryFriendIds" parameterType="Long" resultType="Long">
        select followee_id
        from friend
        where is_delete = 0
          and follower_id = #{userId}
    </select>
    <!--查询关注用户-->
    <select id="queryFriend" resultType="com.project.vo.user.QueryUserVO">
        select distinct
        u.id,
        u.user_name,
        u.user_avatar,
        u.user_profile
        from user u
        join friend f on u.id = f.followee_id
        where u.is_delete = 0
        and f.is_delete = 0
        and u.id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <!--查询粉丝用户id-->
    <select id="queryFansIds" parameterType="Long" resultType="Long">
        select follower_id
        from friend
        where is_delete = 0
          and followee_id = #{userId}
    </select>
    <!--查询粉丝用户-->
    <select id="queryFans" resultType="com.project.vo.user.QueryUserVO">
        select distinct
        u.id,
        u.user_name,
        u.user_avatar,
        u.user_profile
        from user u
        join friend f on u.id = f.follower_id
        where u.is_delete = 0
        and f.is_delete = 0
        and u.id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <!--查询互关用户id-->
    <select id="queryEach" parameterType="Long" resultType="Long">
        select f1.followee_id
        from friend f1
                 join friend f2 on f1.follower_id = f2.followee_id and f1.followee_id = f2.follower_id
        where f1.is_delete = 0
          and f2.is_delete = 0
          and f1.follower_id = #{userId}
    </select>
</mapper>
